<section id="languages" class="languages section-bg">
    <div class="container">

      <div class="section-title">
        <h2>Languages</h2>
        <P>I speak</P>
    
     </div>

      <div class="row languages-content">

        <div class="col-lg-6" data-aos="fade-up">
            <ul>
                <li><i class="far fa-dot-circle"></i> Yoruba </li>
                <li><i class="far fa-dot-circle"></i> English </li>
            </ul>

        </div>

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">


        </div>

      </div>

    </div>
  </section>