    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About</h2>
          <p> I am a javascript engineer working majorly on frontend, backend and UI of applications with technologies like react, redux, react-hooks, NodeJS, express, css, MongoDB, Material UI and Well understanding of Web application migration from server to client (Javascript, REST). Hands on experience with CSS optimization using Bootstrap. Who is also proficient in wordpress development and theming. Also have plans to pick up flutter for app development soon.
              And passionate about building accessible web apps that users love. A quick learner and a team worker that gets the job done<span> And I ❤️ Food.</span>  
          </p>
        </div>

        <div class="row">
          
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Fullname:</strong> <span>Ogunniyi Samuel Kayode</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+234 810 420 8431</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Ibadan, Oyo State</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Bachelor of Technology</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>samuelkayode622@gmail.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
                </ul>
              </div>
            </div>
           
          </div>
        </div>

      </div>
    </section>