
 <section id="experience" class="education">
    <div class="container">

      <div class="section-title">
        <h2>Work Experience</h2>
      </div>

      <div class="row">
        <div class="col-lg-6" data-aos="fade-up">
          <div class="education-item">
            <h4>website officer</h4>
            <h5>2022 - PRESENT</h5>
            <p><em>CAIRO, Oregon, USA.</em></p>
            <ul>
                <li>Redesign their website and optimized website loading time performance by 3 times faster.</li>
                <li>Provide technical support to their staffs and write coding using HTML and CSS.</li>
                <li>Introduced new plug-ins and extention to make the website more usable and interactive.</li>
              </ul>
            
          </div>
          <div class="education-item">
            <h4>Freelance Frontend Developer</h4>
            <h5>2021 – PRESENT</h5>
            <ul>
                <li>I built websites using CMS-Platform such as wordpress, wix, squarespace and other technologies.</li>
                <li>Worked as a freelance frontend engineer building websites and web apps with reactjs, CSS, Javascript, and many other technologies</li>
            </ul>
          </div>
        </div>

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <div class="education-item">
              <h4>Computer Technician</h4>
              <h5>2011 - 2013</h5>
              <p><em>Ayobola Computer Center, Oyo, Oyo State.</em></p>
              <ul>
                <li>Concurred with user support specialists to manage bigger projects requiring system analytics.</li>
                <li>Diagnosed and resolved faults based on technical knowledge. </li>
                <li>Microsoft offices and Corel Draw Trainer.</li>
              </ul>
            </div>
    
          </div>
    
      </div>

    </div>
  </section>
