
  .contact {
    padding-bottom: 130px;
  }


  .contact .container {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
    color: #222222;
    box-sizing: border-box;
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
  }

.contact .port_contact_mainbox{
  font-weight: 400;
  font-size: 15px;
  line-height: 1.5;
  color: #222222;
  box-sizing: border-box;
  height: auto;
  background-color: #fff;
  /* box-shadow: 0 0 77px -4px #0000001a; */
  padding: 49px 50px 45px 0;
  position: relative;
  margin: 0 0 50px 0;
}

.port_hadding_style_sec {
  padding-bottom: 50px;
}

.port_contact_form .form-group {
  margin-bottom: 40px;
}

.port_contact_form .form-control {
  background: #ff000000;
  border: none;
  border-bottom: 1px solid #c7cdd3;
  border-radius: 0;
  padding: 0;
  margin-bottom: 0px;
  padding-bottom: 20px;
}

.portfolio_btn.btn_red {
  background-color: #66BFBF;
  box-shadow: 0px 8px 20px 0px #E4F9F9;
  color: #fff;
  cursor: pointer;
  border: none;
  position: relative;
  display: inline-block;
  outline: none;
  overflow: hidden;
  min-width: 200px;
  height: 60px;
  border-radius: 30px;
  text-align: center;
  line-height: 64px;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  font-size: 16px;
}
   
  .contact .info {
    padding: 30px;
    background: #fff;
    width: 100%;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
  }
  
  .contact .info i {
    font-size: 20px;
    color: #66BFBF;
    float: left;
    width: 44px;
    height: 44px;
    background: #dff3fc;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
  }
  
  .contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #050d18;
  }
  
  .contact .info p  {
    padding: 0 0 10px 60px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #66BFBF;
  }
  
  .contact .info .email p {
    padding-top: 5px;
  }
  
  .contact .info .social-links {
    padding-left: 60px;
  }
  
  .contact .info .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #333;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
    margin-right: 10px;
  }
  
  .contact .info .social-links a:hover {
    background: #E4F9F9;
    color: #fff;
  }
  
  .contact .info .email:hover i,
  .contact .info .address:hover i,
  .contact .info .phone:hover i {
    background: #E4F9F9;
    color: #fff;
  }
  
  @media (max-width: 1199px) {
    #header {
      left: -300px;
    }
    
    .contact .port_contact_mainbox{
      padding: 0;
    }

    .banner_btn{
      margin-bottom: 2.5rem;
    }

  }