<section id="contact" class="contact">
    <div class="container">

      <div class="section-title">
        <h2>Contact</h2>
        <p>Get In Touch</p>
      </div>

      <div class="container">
        <div class="port_contact_mainbox">
            <div class="row">
                <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                    <div class="port_contact_form">
                        <form>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" name="first_name" class="form-control require" id="name" placeholder="First name" fdprocessedid="cf1mbm">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" name="last_name" class="form-control require" id="last-name" placeholder="Last name" fdprocessedid="s062mqj">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="email" name="email" class="form-control require" id="email" placeholder="Email Address" data-valid="email" data-error="Email should be valid." fdprocessedid="3y13xv">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" name="subject" class="form-control require" id="subject" placeholder="Subject" fdprocessedid="3zammv">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <textarea name="message" class="form-control require" rows="3" id="comment" placeholder="Message"></textarea>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="banner_btn">
                                        <button id="submit" type="button" data-type="contact" class="portfolio_btn btn_red submitForm" fdprocessedid="ar6jm">
                                            <span class="first_text">Submit</span>
                                            <!-- <span class="second_text">Send</span> -->
                                        </button>
                                    </div>
                                </div>
                                <div class="response"></div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-lg-5 d-flex align-items-stretch">
                    <div class="info">
                      <div class="address">
                        <i class="fas fa-map-marker-alt"></i>
                        <h4>Location:</h4>
                        <p>Ibadan, Oyo State.</p>
                      </div>
        
                      <div class="email">
                        <i class="fas fa-envelope"></i>
                        <h4>Email:</h4>
                        <p>samuelkayode622@gmail.com</p>
                      </div>
        
                      <div class="phone">
                        <i class="fas fa-phone-alt"></i>
                        <h4>Call:</h4>
                        <p>+2348104208431</p>
                      </div>
        
                    </div>
        
                  </div>
            </div>
        </div>
    </div>

    </div>
  </section>