<section id="skills" class="skills section-bg">
    <div class="container">

      <div class="section-title">
        <h2>Skills</h2>
    
     </div>

      <div class="row skills-content">

        <div class="col-lg-6" data-aos="fade-up">

            <div class="skill">
                <div class="detail">
                  <span>HTML5 | CSS3</span>
                  <span>100%</span>
                </div>
                <div class="bar">
                  <div id="html-bar"></div>
                </div>
              </div>
      
              <div class="skill">
                <div class="detail">
                  <span>Bootstrap</span>
                  <span>90%</span>
                </div>
                <div class="bar">
                  <div id="bootstrap-bar"></div>
                </div>
              </div>
      
              <div class="skill">
                <div class="detail">
                  <span>Javascript/JQuery</span>
                  <span>70%</span>
                </div>
                <div class="bar">
                  <div id="js-bar"></div>
                </div>
              </div>

        </div>

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

            
            <div class="skill">
                <div class="detail">
                  <span>Wordpress</span>
                  <span>80%</span>
                </div>
                <div class="bar">
                  <div id="wordpress-bar"></div>
                </div>
              </div>
      
              <div class="skill">
                <div class="detail">
                  <span>React</span>
                  <span>80%</span>
                </div>
                <div class="bar">
                  <div id="react-bar"></div>
                </div>
              </div>
      
      
              <div class="skill">
                <div class="detail">
                  <span>NodeJs | Express | MongoDB</span>
                  <span>70%</span>
                </div>
                <div class="bar">
                  <div id="NEM-bar"></div>
                </div>
              </div>


        </div>

      </div>

    </div>
  </section>